<body class="bg-gray-100">
  <div class="container mx-auto p-9">
    <header class="flex flex-col md:flex-row justify-between items-center py-4">
      <h1 class="text-3xl font-bold text-gray-800 mb-4 md:mb-0">
        Inventory Management
      </h1>
      <div class="flex space-x-2">
        <input
          type="date"
          class="p-2 border border-gray-300 rounded"
          [(ngModel)]="searchDate"
          (input)="filterRecords()"
        />
        <input
          type="text"
          class="p-2 border border-gray-300 rounded"
          placeholder="Search by name or supplier"
          [(ngModel)]="searchText"
          (input)="filterRecords()"
        />
        <button
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          (click)="downloadData()"
        >
          <i class="fas fa-download"></i> Download Data
        </button>
      </div>
    </header>

    <div class="bg-white shadow-md rounded overflow-hidden">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Name</th>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Description</th>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Price</th>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Stock Type</th>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Available Stock</th>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Date</th>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Supplier</th>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Dispatched Stock</th>
            <th class="py-3 px-4 uppercase font-semibold text-sm">Client</th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          <tr *ngFor="let product of filteredProducts">
            <td class="py-2 px-4">{{ product.name }}</td>
            <td class="py-2 px-4">{{ product.description }}</td>
            <td class="py-2 px-4">{{ product.price }}</td>
            <td class="py-2 px-4">{{ product.stockType }}</td>
            <td class="py-2 px-4">{{ product.availableStock }}</td>
            <td class="py-2 px-4">{{ product.date | date:'yyyy-MM-dd HH:mm' }}</td>
            <td class="py-2 px-4">{{ product.supplier }}</td>
            <td class="py-2 px-4">{{ product.dispatchedStock }}</td>
            <td class="py-2 px-4">{{ product.client }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
