/* Hide sidebar by default for mobile */
/* @media (max-width: 768px) {
  .-translate-x-full {
    transform: translateX(-100%);
  }

  .translate-x-0 {
    transform: translateX(0);
  }
} */

/* Full height for sidebar */
/* h-screen {
  height: 100vh;
} */