<body class="bg-gray-50">
  <div class="p-6 w-full max-w-8xl mx-auto">
    <!-- Header -->
    <div
      class="flex justify-between items-center bg-white p-6 rounded-lg shadow-md mb-6"
    >
      <h1 class="text-2xl font-bold text-gray-800">Welcome, {{ userName }}!</h1>
      <div class="flex items-center space-x-4">
        <input
          class="border rounded-lg p-2 w-64 focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Search"
          type="text"
        />
        <i class="fas fa-sun text-xl text-gray-600"></i>
        <i class="fas fa-bell text-xl text-gray-600"></i>
        <i class="fas fa-cog text-xl text-gray-600"></i>
      </div>
    </div>

    <!-- Dashboard Title -->
    <h1 class="text-3xl font-bold mb-6 text-gray-700">Inventory Dashboard</h1>

    <!-- Dashboard Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <!-- Total Stock In -->
      <div
        class="dashboard-card bg-blue-500 hover:bg-blue-600"
        (click)="navigateToInventory()"
      >
        <div class="dashboard-icon bg-blue-700"><i class="fas fa-box"></i></div>
        <div class="ml-4">
          <h2 class="text-lg font-semibold text-white">Total Stock In</h2>
          <p class="text-xl font-bold text-white">{{ totalStockIn }}</p>
        </div>
      </div>

      <!-- Total Input Price -->
      <div
        class="dashboard-card bg-green-500 hover:bg-green-600"
        (click)="navigateToInventory()"
      >
        <div class="dashboard-icon bg-green-700">
          <i class="fas fa-arrow-down"></i>
        </div>
        <div class="ml-4">
          <h2 class="text-lg font-semibold text-white">Total Stock-in Price</h2>
          <p class="text-xl font-bold text-white">ksh{{ totalInput }}</p>
        </div>
      </div>

      <!-- Total Stock Out -->
      <div
        class="dashboard-card bg-red-500 hover:bg-red-600"
        (click)="navigateToInventory()"
      >
        <div class="dashboard-icon bg-red-700">
          <i class="fas fa-arrow-up"></i>
        </div>
        <div class="ml-4">
          <h2 class="text-lg font-semibold text-white">Total Stock Out</h2>
          <p class="text-xl font-bold text-white">{{ totalStockOut }}</p>
        </div>
      </div>

      <!-- Total Worth -->
      <div
        class="dashboard-card bg-yellow-500 hover:bg-yellow-600"
        (click)="navigateToInventory()"
      >
        <div class="dashboard-icon bg-yellow-700">
          <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="ml-4">
          <h2 class="text-lg font-semibold text-white">Total Stock-out pice</h2>
          <p class="text-xl font-bold text-white">ksh{{ totalWorth }}</p>
        </div>
      </div>
    </div>
  </div>
</body>
